@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #ffffff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}

.login_bg{
  background-image: url('./assets/bg.jpg');
  background-position: fixed;
  background-size: cover;
  background-blend-mode:normal;
  background-repeat: no-repeat;
}
.milk-drop {
  position: absolute;
  top: -50px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  animation: fall 6s infinite linear;
  opacity: 0.8;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}